<header class="Heading">
  <h2 class="Heading-title">
    <a class="Heading-link u-clickable" href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
  </h2>
    {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
           By <a href="{{ .Permalink }}">{{ .Params.name }}</a>
        {{ end }}
    {{ end }}
  {{ with .PublishDate | default nil }}
  <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
    {{ .Format "2 January, 2006" }}
  </time>
  {{ end }}
</header>
